@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Allura';
    src: url('/src/assets/fonts/subset-Allura-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/assets/fonts/subset-Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/assets/fonts/subset-Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mukta';
    src: url('/src/assets/fonts/subset-Mukta-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/src/assets/fonts/subset-PlayfairDisplay-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
  }
  @media (max-width: 320px) {
    .modal-container {
      width: 95%;
      margin: 0 auto;
    }
  }
  .modal-content {
    -webkit-overflow-scrolling: touch;
  }
  /* Hide scrollbar but still allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.swiper-button-next,
.swiper-button-prev {
  color: #f97316; /* Tailwind orange-500 */
  width: 30px;
  height: 30px;
  transform: scale(0.75);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.25rem;
}

